html {
  background: rgba(0, 0, 0, 0.9);
  color: white;
}

body {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
  font-family: monospace;
  text-align: justify;
}

h1 {
  font-size: 2em;
  margin-bottom: 0;
}

span {
  font-size: 1.5em;
}

p {
  margin-top: 20px;
}

a {
  color: unset;
}

a:hover {
  color: lightgray;
}

.discordLink {
  color: #5865f2;
}

footer {
  margin-top: 20px;
  font-size: 0.8em;
  color: gray;
  text-align: right;
}
